@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*{
  color : gold;
  background-color: black;
  font-family: 'KIMM_Bold';
  
}

body{
  margin: 0px;
}