.a_side{
  display: flex;
  float: right;
  right: 0px;
  height: 100%;
  width: 20vw;
  background-color:  rgb(253, 226, 74);
}
.side{
  position: sticky;
  margin-top: 40px;
  width: 320px;
  height: 500px;
  top: 100px;
  right: 300px;
  background-color: black;
  border-radius: 20px;
} 
.test{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.side_bar{
  display: grid;
  justify-content: center;
}

#selectbox{
  width: 12.2vw;
}

#sett{
  width: 12.2vw;
}